.add-form {
  width: 100%;
}

.form-caption {
  font-size: 0.85em;
  font-weight: bold;
  color: darkred;
}

.form-val {
  font-size: 0.85em;
  width: 100%;
}

.btn{
  color: white;
  background-color: darkred;
  font-size: 0.85em;
  font-weight: bold;
  border: none;
}
