.App {
  text-align: center;
}

.logo {
  height: 60vmin;
  pointer-events: none;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .layout {
  border: 1px solid;
  border-color: black;
} */

.btn-outline-primary {
  /* color: #00b0ff; */
  border-radius: 0 !important;
}

#announcements {
  color: red;
  font-size: 2em;
  /* background-color: #00b0ff; */
}

.bold {
  font-weight: bold;
}

#logo {
  width: 2em;
}

#announcements {
  text-align: center;
}

#resources-table {
  border: solid 1px black
}

.topic_col {
  width: 100;
}

.dynamic-rows {
  border-style: solid black;
}

#edit-cell-note {
  color: red;
  /* text-justify: left; */
  text-align: left;
}
