#announcements {
  color: red;
  font-size: 2em;
  text-align: center;
}

.instructions {
  /* text-justify: left; */
  text-align: left;
}

.instr-caption {
  /* width: 10%; */
  text-align: left;
  font-weight: bold;
  color: red;
}

.instr-body {
  /* width: 80%; */
  text-align: left;
  color: black;
}

.bst {
  font-size: x-small;
}

.add-resource-form {
  /* padding-left: 2%; */
}

.subheader {
  text-align: center;
  font-size: 0.5em;
}
